* {
  box-sizing: border-box;
}

html {
  font-size: 100%;
  line-height: 1.3;
}

body {
    display: grid;
    grid-template-columns: 8fr 2fr;
    margin: 0 0 0 1rem;
}
main {
    height: 100vh;
    overflow: scroll;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
}

div.atts {
display: grid;
grid-template-columns: 1fr 1fr 1fr;
margin-left: 3em;
}
div.atts ul {
  padding: 0;
}
a.e {
  text-decoration: none;
  color: inherit;
}
/* content models: */
g {
  display: inline;
  font-weight: bold;
}
c {
  display: block;
  padding-left: 3em;
  font-weight: normal;
  border-left: 2px solid transparent; /* so hover doesn't add width */
}

c:hover,c:active {
  border-left: 2px red dotted;
}


li {
  list-style: none;
}
span.type::before {
content: "  ";
}
span.type {
  color: #666;
}
.diff {
  color: purple;
}

section {
    padding-left: 3em;
    margin-bottom: 1rem;
    border-bottom: 1px #AAA dotted;
    margin-right: 1rem;
}
section.same {
    color: #aaa;
}
h1 {
    font-family: sans;
}
section h1 {
    padding-left: 0;
    margin-left: -3rem;
}
.snotd {
    background-color: wheat;
}
.dnots {
    background-color: aliceblue;
}
div.children, div.model {
    margin-left: 3rem;
}

div.children p.whence,p.how {
    margin-left: -3rem;
}
p.contentmodel  {
    padding-left: 0.5rem;
}

div.model p.contentmodel::before  {
    content: "<!ELEMENT ";
}
div.model p.contentmodel>e::after {
    content: " \22";
}
div.model p.contentmodel::after  {
    content: "\22>";
}

.contentmodel span.del {
    color: #aaa;
}

.contentmodel span.ins {
    font-weight: bold;
}

nav {
    grid-column-start: 2;
    grid-column-end: 3;
    height: 100vh;
    overflow: scroll;
    padding: 1rem;
    padding-left: 0.1rem;
    background-color: white;
    border-left: double;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  list-style: none;
  margin: 0;
  margin-left: 3em;
  text-indent: -3em;
  padding: 0;
  font-family: sans-serif;
}

nav ul li a {
    text-decoration: none;
    color: black;
    display: inline-block;
    padding-left: 0;
    margin-left: 0;
    text-indent: 0;
    width: 100%;
}
nav ul li a:hover {
    background-color: #CCC;
}
nav ul li.same a {
    color: #aaa;
}
nav ul li.same span.unhandled {
    color: #FDD;
}

nav span.unhandled {
    color: white;
}

nav ul li.handled {
    color: #aaa;
}


span.new {
  color: blue;
  font-weight: bold;
}
li {
  margin-left: 1rem;
}
li.incompatible {
  padding: 0.25rem 1rem 0.25rem 1rem;
  border-radius: 1rem;
  background-color: aliceblue;
  color: blue;
  font-weight: bold;
  color: blue;
  margin-left: 0;
  margin-right: 1em;
  margin-top: 0.25em;
}
li.dest {
  margin-left: 4rem;
}
li.dest.incompatible {
  margin-left: 3rem;
}

.foundinlist {
    margin-left: 3rem;
}

div.attdecls {
    display: table;
    margin-left: 3rem;
    /* display: grid;
    grid-template-columns: auto 2fr 3fr 4fr; */
}
div.attdecls .attrdef {
    display: table-row;
}
div.attdecls .attrdef:hover, div.attdecls .attrdef:active {
    background-color: #EEEEFF;
}
div.attdecls attr {
    display: table-cell;
    padding-right: 0.5rem;
}

div.attdecls type {
    padding-right: 1rem;
    display: table-cell;
    padding-right: 0.5rem;
}

div.attdecls default {
    grid-column-start: 3;
    display: table-cell;
}
div.attdecls f {
    grid-column-start: 3;
    display: table-cell;
}
